<ns-action-bar title="Today's challenge" [showBackButton]="false"></ns-action-bar>

<FlexboxLayout class="page" *ngIf="!currentDay">
    <Label text="No challenge found!"></Label>
    <Button class="btn btn-primary" text="Create One!" nsRouterLink="/challenges/replace" pageTransition="slideLeft"></Button>
</FlexboxLayout>
<FlexboxLayout class="page" *ngIf="currentDay">
    <Label class="h1" [text]="currentDay.date | date"></Label>
    <ns-challenge-actions
        (actionSelect)="onActionSelected($event)"
        cancelText="Reset"
        [chosen]="getActionName()"
        [startDone]="getActionName() == 'complete' || getActionName() == 'fail'"
    ></ns-challenge-actions>
</FlexboxLayout>

