TabStrip {
    /* android-selected-tab-highlight-color: #7c015d;
    selected-tab-text-color: #7c015d; */
    selected-item-color: blueviolet;
    un-selected-item-color: gray;
    highlight-color: gold;
}
