<TabView androidTabsPosition="bottom" androidSelectedTabHighlightColor="#7c015d" selectedTabTextColor="#7c015d">
    <!-- <page-router-outlet *tabItem="{title: 'today'}" name="today"></page-router-outlet>
    <page-router-outlet *tabItem="{title: 'current challenge'}" name="currentChallenge"></page-router-outlet> -->
    <StackLayout *tabItem="{title: 'today'}">
        <page-router-outlet name="today"></page-router-outlet>
    </StackLayout>
    <StackLayout *tabItem="{title: 'current challenge'}">
        <page-router-outlet name="currentChallenge"></page-router-outlet>
    </StackLayout>
</TabView>
