<!-- <TabView androidTabsPosition="bottom">
    <StackLayout *tabItem="{title: 'today'}">
        <page-router-outlet name="today"></page-router-outlet>
    </StackLayout>
    <StackLayout *tabItem="{title: 'current challenge'}">
        <page-router-outlet name="currentChallenge"></page-router-outlet>
    </StackLayout>
</TabView> -->

<BottomNavigation>
    <TabStrip>
        <TabStripItem>
            <Label text="today"></Label>
            <Image src="res://check"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="current challenge"></Label>
            <Image src="res://trophy"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem >
        <page-router-outlet name="today"></page-router-outlet>
    </TabContentItem>
    <TabContentItem>
        <page-router-outlet name="currentChallenge"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>
