<!-- <GridLayout rows="auto,*,70, 2*" columns="*,auto,100">
    <Label id="i1" text="Item 1" row="0" col="0" colSpan="3"></Label>
    <Label id="i2" text="Item 2" row="2" col="1" rowSpan="2"></Label>
    <Label id="i3" text="Item 3" row="3" col="2" verticalAlignment="center"></Label>
</GridLayout> -->

<GridLayout rows="30, *, 50, auto, 15, 2*" columns="100, 50, auto, *">
    <Label text="A" row="0" col="0"></Label>
    <Label text="B" row="1" col="1"></Label>
    <Label text="C" row="2" col="2"></Label>
    <Label text="D" row="3" col="3"></Label>
    <Label text="E" row="5" col="1"></Label>
</GridLayout>
