
<ns-action-bar [hasChallenge]="!isCreating"></ns-action-bar>
<form  
    class="form"
    *ngIf="!isLoading"
    (ngSubmit)="onSubmit(titleCtrl.value, descriptionCtrl.value)">
    <div class="input-field">
        <label class="label" [ngClass]="{invalid: !titleCtrl.valid && titleCtrl.touched}">Title</label>
        <input class="input" type="text" required [(ngModel)]="title" #titleCtrl="ngModel" name="title"/>
        <p *ngIf="!titleCtrl.valid && titleCtrl.touched" >Please enter a valid title.</p>
    </div>
    <div class="input-field">
        <label class="label" [ngClass]="{invalid: !descriptionCtrl.valid && descriptionCtrl.touched}">Description</label>
        <textarea class="input" rows="4" required [(ngModel)]="description" #descriptionCtrl="ngModel" name="description"></textarea>
        <p *ngIf="!descriptionCtrl.valid && descriptionCtrl.touched" >Please enter a valid description.</p>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!(titleCtrl.valid && descriptionCtrl.valid)">Save</button>
</form>
<ns-loading-indicator *ngIf="isLoading"></ns-loading-indicator>
